.content-body{
  padding-right:15px;
  padding-left:15px;
  margin-bottom: 15px;
}
div.card{
  margin:5px;
}
.form-check{
  text-align: center;
}

.custom-select{
 
}
.header{
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,.25);
}
.title{

}
.action{
  float:right;

}